header .logo{
    max-width: 40px;
}


.remove-transportation, .remove-faq,.remove-rule{
  background: #910000;
  width: 25px;
  color: white;
}


.cke_notifications_area{
  display: none;
}


.appliances-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 1.5rem;
}

@media (max-width: 900px) {
    .appliances-grid {
        grid-template-columns: 1fr;
    }
}
